body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    background-color: lightslategray;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: white;
    font-size: 3em;
    text-align: right;
    width: 360px;
    padding: 10px;
    margin: 15px;
    border: 5px solid black;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons {
    width: 400px;
    height: 300px;
}

.buttons button:hover {
  background-image: linear-gradient(rgb(0 0 0/50%) 0 0);
  border: 3px solid white;
  color: white;
}

.buttons button {
    width: 80px;
    height: 60px;
    font-size: 25px;
    margin: 8px;
    border: 3px solid black;
    border-radius: 5px;
}

.buttons .operators, .equal {
    background-color: lightskyblue;
}

.clear {
    background-color: lightpink;
}